.slider {
    position: relative;
    width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
}

.slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #0BA6D5;
    z-index: 2;
}

.slider__left-value,
.slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
}

.slider__left-value {
    left: 6px;
}

.slider__right-value {
    right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.thumb-container {
    position: relative;
    width: 100%;
}
.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
}

.thumb--left {
    z-index: 3!important;
}

.thumb--right {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    border: 7px solid #0BA6D5;
    width: 20px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    border: 7px solid #0BA6D5;
    width: 20px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}
