name: Amani Forged Web

on:
  push:
    branches:
      - main
      - staging

jobs:
  # deploy-staging:
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/staging'

  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v3

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 20

  #     - name: Install Dependencies and Build
  #       run: |
  #         npm install --force
  #         npm run build

  #     - name: Add EC2 Host to Known Hosts
  #       run: |
  #         mkdir -p ~/.ssh
  #         ssh-keyscan -H "$HOST" >> ~/.ssh/known_hosts
  #       shell: /usr/bin/bash -e {0}
  #       env:
  #         HOST: ${{ secrets.STAGING_HOST }}

  #     - name: Install dependencies
  #       run: npm install --force

  #     - name: Deploy to EC2
  #       run: |
  #         echo "$KEY" > private_key.pem
  #         chmod 600 private_key.pem
  #         ssh -i private_key.pem $USER@$HOST "
  #           sudo dnf update -y &&
  #           sudo dnf install -y git &&
  #           cd $APP_DIR &&
  #           git fetch --all &&
  #           git reset --hard origin/staging &&
  #           rm -rf .next/ &&
  #           npm install --legacy-peer-deps &&
  #           npm run build &&
  #           pm2 restart amani-forged-stage-web &&
  #           pm2 save
  #         "
  #         rm private_key.pem
  #       shell: /usr/bin/bash -e {0}
  #       env:
  #         HOST: ${{ secrets.STAGING_HOST }}
  #         USER: ${{ secrets.STAGING_USER }}
  #         KEY: ${{ secrets.STAGING_KEY }}
  #         APP_DIR: ${{ secrets.STAGING_DIR }}

  deploy-production:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Add EC2 Host to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H "$HOST" >> ~/.ssh/known_hosts
        shell: /usr/bin/bash -e {0}
        env:
          HOST: ${{ secrets.PROD_HOST }}

      - name: Deploy to EC2
        run: |
          echo "$KEY" > private_key.pem
          chmod 600 private_key.pem
          ssh -i private_key.pem $USER@$HOST "
            sudo dnf update -y &&
            sudo dnf install -y git &&
            cd $APP_DIR &&
            git fetch --all &&
            git reset --hard origin/main &&
            rm -rf .next/ &&
            npm install --legacy-peer-deps &&
            npm run build &&
            if pm2 show ktc-web | grep -q 'online'; then
              pm2 restart ktc-web
            else
              pm2 start ecosystem.config.js --only ktc-web
            fi &&
            pm2 save
          "
          rm private_key.pem
        shell: /usr/bin/bash -e {0}
        env:
          HOST: ${{ secrets.PROD_HOST }}
          USER: ${{ secrets.PROD_USER }}
          KEY: ${{ secrets.PROD_KEY }}
          APP_DIR: ${{ secrets.PROD_DIR }}
